.contents-area {
	padding-top: 50px;
}

.content {
	margin: 10px;
}

#map {
	min-height: 320px;
	width: 320px;
}

.my-modal-header {
	background-color: #f2dede;
	border-color: #eed3d7;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}