.contents-area {
	padding-top: 50px;
}

.content {
	margin: 10px;
}

#map {
	min-height: 320px;
	width: 320px;
}

.my-modal-header {
	background-color: #f2dede;
	border-color: #eed3d7;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	 border-top-left-radius: 5px;
	 border-top-right-radius: 5px;
}

.go {
	float: right;
}

.go :after{
	content: "";
	clear: both;
}

button.go {
	padding: 0px 20px 0px 20px;
}

div.schedule-area {
	margin: 50px 10px 0px 10px; 
	height: 370px;
	overflow: auto;
	position: relative;
}

#navbar-schedule {
	position: fixed;
	top: 50px;
	background-color: white;
	width: 100%;
	z-index: 100;
}

.schedule-time {
	margin-right: 30px;
	font-weight: bold;
}